dbhost = localhost
dbport = 3306
dbuser = cairis
dbpasswd = cairis123
dbname = cairis
tmp_dir = /tmp
root = /home/cairis/cai-ris/cairis
default_image_dir = .
web_port = 7071
log_level = warning
web_static_dir = /home/cairisuser/cairis/cairis/web
upload_dir = /tmp
